﻿@{
    ViewData["Title"] = "ListSlots";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}

@using Crewd.Persistence

@model TeamListSlotsViewModel

<h2>List of team slots</h2>

<p>Number of teams required = @Model.NrOfTeams</p>


@if (Model.Teams.Count() > 0)
{
    <h4>Already registered teams:</h4>

    @foreach (Team Team in Model.Teams)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">

                    <div class="col mr-3">
                        <h3 class="text-center">@Team.Name</h3>
                    </div>

                    <div class="col mr-3">
                        @Html.ActionLink("Details", "Details", "Teams",
                        new { TeamId = Team.Id }, new { @class = "btn btn-primary" })
                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <p>There are no registered teams yet.</p>
}

@if (Model.NrOfTeams > Model.Teams.Count())
{
    <h4>Free slots:</h4>

    @for (int i = 0; i < Model.NrOfTeams - Model.Teams.Count(); ++i)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">

                    <div class="col mr-3">
                        <h3 class="text-center">Team @(i + 1)</h3>
                    </div>

                    <div class="col mr-3">
                        @Html.ActionLink("Register Team", "Add", "Teams",
                        new { CourseId = Model.CourseId }, new { @class = "btn btn-success" })
                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <p>No more free team slots left.</p>
}

@if (Model.NrOfTeams == Model.Teams.Count() && Model.NrOfTeams != 0)
{
    @Html.ActionLink("Start Matching", "StartMatching", "Teams",
                      new { CourseId = Model.CourseId }, new { @class = "btn btn-secondary" })
}

