@{
    ViewData["Title"] = "Teams";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}
@model Dictionary<string, List<string>>

<div class="container">

    <h3 style="margin:20px 0">Teams</h3>

    <div class="row">

        @foreach (KeyValuePair<string, List<string>> Pair in Model)
        {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 team-block">
                <h4>@Pair.Key</h4>            

                <div class="team-members">
                    <p>Team members:</p>
                    <ul>
                        @foreach (string Member in Pair.Value)
                        {
                            <li>@Member</li>
                        }
                    </ul>
                </div>
            </div>
        }


    </div>

</div>

