﻿@{
    Layout = null;
    ViewData["Title"] = "Start Page";
}

<link rel="stylesheet" type="text/css" href="~/css/main.css">

<div class="left-block">
    <div class="imagecontainer">
        <img src="~/images/crewd_logo.png" class="logo">
    </div>

    <div class="buttoncontainer">
        <a href="#">
            <div class="button">
                @Html.ActionLink("Log In", "Login", "Login", null)
            </div>
        </a>
        <a href="#">
            <div class="button">
                @Html.ActionLink("Registration", "Registration", "Login", null)
            </div>
        </a>

        @Html.ActionLink("Teacher Administration", "Index", "University")
    </div>
</div>

<div class="right-block">
    <div class="article">
        <p class="paragraph">
            <img src="~/images/team.jpg" width="300" class="paragraph-image">
            Our key partners are the Universities and its teacher who could and would use an application
            for their courses to help their students to form team with equal chances.
        </p>

    </div>
    <div class="article">
        <p class="paragraph">
            Crewd is using innovative matching algorithms, including an
            Economical Nobel Prize winning algorithm. Customer relationships are important to us. Our
            users’ feedback and ratings help to further improve the application
        </p>
    </div>

</div>
