﻿@{
    Layout = null;
}
@model Crewd.Persistence.LoginViewModel

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/global.css">


<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">

            @using (Html.BeginForm("ValidateLogin", "Login", FormMethod.Post,
       new { enctype = "multipart/form-data", @class = "form-container" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <h3 class="text-center">Log In</h3>

                <div>
                    <img src="~/images/crewd_logo.png" class="logo">
                </div>

                <div class="form-group">
                    <label for="uname">Username:</label>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="form-group">
                    <label for="psw">Password:</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <input type="submit" value="Login" class="btn btn-secondary btn-block">

                <p>@Html.ActionLink("Registration", "Registration", "Login", null) </p>
            }


        </section>
    </section>
</section>