@{
    Layout = null;
}
@model Crewd.Persistence.RegistrationViewModel
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/global.css">


<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-xs-12 col-sm-8 col-md-4">
            @using (Html.BeginForm("RegistrationPost", "Login", FormMethod.Post,
            new { enctype = "multipart/form-data", @class = "reg-form-container" }))
            {
                <h3 class="text-center">Registration</h3>

                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        <label for="name">Name:</label>
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        <label for="email">Email:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        <label for="university">University:</label>
                        @Html.DropDownListFor(model => model.University, new List<SelectListItem> { new SelectListItem { Value = "ELTE", Text = "ELTE" }, new SelectListItem { Value = "BME", Text = "BME" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.University)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        <label for="psw">Password:</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        <label for="uname">Username:</label>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6">
                        <label for="cpsw">Confirm Password:</label>
                        @Html.PasswordFor(model => model.ConfirmedPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmedPassword)
                    </div>
                </div>

                <button type="submit" class="btn btn-secondary btn-block">Register</button>

            }
        </section>
    </section>
</section>
