@{
    ViewData["Title"] = "Crewd";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}
@using Crewd.Persistence
@model IEnumerable<CourseUser>

<div class="container">

    <h4 style="margin:5px 0 20px 0">List of applied students</h4>
    
    @if (Model != null && Model.Count()>0)
     {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <ul class="list-group">

                    @foreach (CourseUser CourseUser in Model)
                    {
                        <li class="list-group-item">
                            <p class="students-applied-list">@CourseUser.User.FullName has applied to the course @CourseUser.Course.Name .</p>

                            <a>
                                @Html.ActionLink("Reject", "RejectApplication", "CourseApplications",
                               new { Id = CourseUser.Id }, new { @class = "btn btn-secondary btn-block reject-button" })
                            </a>

                            <a>
                                @Html.ActionLink("Approve", "ApproveApplication", "CourseApplications",
                                     new { Id = CourseUser.Id }, new { @class = "btn btn-secondary btn-block accept-button" })
                            </a>

                        </li>
                     }

                </ul>

            </div>
        </div>
     }
    else
    {
        <p>There are no applications to show.</p>
    }
</div>
	
