﻿@{
    ViewData["Title"] = "Join";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}
@using Crewd.Persistence
@model JoinViewModel

<h2>Join Course</h2>

<p>Please answer the questions below in order to apply to this course. The respective teacher(s) will approve your request.</p>

@using (Html.BeginForm("SubmitApplication", "CourseApplications", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.CourseId)

    <table class="table table-bordered">
        @for (int i = Model.Questions.Count() - 1; i >= 0; --i)
        {
            @Html.HiddenFor(m => m.Questions[i].Id)          

            <tr>
                <td>
                    Question: @Model.Questions[i].Text
                </td>
            </tr>

            <tr>
                @switch (Model.Questions[i].Type)
                {
                    case SkillType.Checkbox:

                        for (int j = 0; j < Model.Questions[i].Values.Count; ++j)
                        {
                            @Html.HiddenFor(m => m.Questions[i].Values[j])

                            <td>
                                @Html.CheckBoxFor(m => m.Questions[i].CheckboxMultipleValues[j], Model.Questions[i].Values[j])
                                @Model.Questions[i].Values[j]
                            </td>
                        }
                        break;

                    case SkillType.Dropdown:

                        <td>
                            @{
                                var SelectList = new List<SelectListItem>();
                                foreach (String Answer in Model.Questions[i].Values)
                                {
                                    SelectList.Add(new SelectListItem() { Text = Answer, Value = Answer });
                                }
                            }
                            @Html.DropDownListFor(m => m.Questions[i].SelectedValue, SelectList, "-- Select Answer --")

                        </td>
                        break;

                    case SkillType.RadioButton:

                        for (int j = 0; j < Model.Questions[i].Values.Count(); ++j)
                        {
                            <td>
                                @Html.RadioButtonFor(m => m.Questions[i].SelectedValue, Model.Questions[i].Values[j])
                                @Model.Questions[i].Values[j]
                            </td>
                        }
                        break;

                }
            </tr>
        }
    </table>

    <input type="submit" class="btn btn-primary" value="Submit Application" />
}