@{Layout = null; }
@model Crewd.Persistence.AddTeacherViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container-fluid">

    <div style="margin-top:30px">
        <img src="~/images/crewd_logo.png">
    </div>

    <h1>Add Teachers</h1>

    <div class="row">

        <div class="col-sm-6">

            @using (Html.BeginForm("Index", "University", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label>Fullname:</label>
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FullName)
                </div>

                <div class="form-group">
                    <label>Username:</label>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <input type="submit" class="btn btn-primary" value="Submit Teacher" />

            }
        </div>

        <!--
        <div class="col-sm-6">
            <table class="table table-bordered">
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th id="c3">Delete</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>********</td>
                    <td id="c3"><input type="checkbox" id="checkbox-delete"></td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>********</td>
                    <td id="c3"><input type="checkbox" id="checkbox-delete"></td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>********</td>
                    <td id="c3"><input type="checkbox" id="checkbox-delete"></td>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>********</td>
                    <td id="c3"><input type="checkbox" id="checkbox-delete"></td>
                </tr>
            </table>
        </div>
        -->
    </div>
</div>