.bg{
	
}

.form-container{
	position:absolute;
	top:15vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.reg-form-container{
	position:absolute;
	top:15vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.navbar-signup{
	margin:0px 10px 0px 0px;
	width: 100px;
}

.navbar-login{
	margin:0px 10px 0px 0px;
	width: 100px;
}

.accept-button{
	margin:0px 10px 0px 0px;
	width: 100px;
	display:inline-block;
	float:right;
}

.team-description{
	display:inline-block;
	width:60%;
	vertical-align:top;
}

.team-members{
	display:inline-block;
}

.team-block{
	border: 1px solid #3A3A3A;
	border-radius:5px;
	margin-bottom:20px;
	padding-top:10px;
}

.reject-button{
	margin:0px 10px 0px 0px;
	width: 100px;
	display:inline-block;
	float:right;
	background-color:#8C0A0F;
	border-color:#8C0A0F;
}

.reject-button:hover{color:#fff;background-color:#64070C;border-color:#64070C}
.reject-button.focus,.reject-button:focus{box-shadow:0 0 0 .2rem rgba(80,0,0,.5)}
.reject-button.disabled,.reject-button:disabled{color:#fff;background-color:#500000;border-color:#500000}
.reject-button:not(:disabled):not(.disabled).active,.reject-button:not(:disabled):not(.disabled):active,.show>
.reject-button.dropdown-toggle{color:#fff;background-color:#500000;border-color:#500000}
.reject-button:not(:disabled):not(.disabled).active:focus,.reject-button:not(:disabled):not(.disabled):active:focus,.show>.reject-button.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(60,0,0,.5)}

.students-applied-list
{
	display:inline-block;
	vertical-align:middle;
	margin:5px 0 0 0;
	font-weight: 500;
}

.students-applied-link
{
	color:#363A3E;
}

.students-applied-link:hover{color:black;}