body{
	margin: 0 5% 0 5%;
	display: inline-block;
}

.imagecontainer{
	margin: 30px auto;
	padding: 10px;
	width: 314px;
	height: 194px;
}

.buttoncontainer{
	//float: right;
}

.left-block{
	display: block;
	width: 334px;
	float: left;
}

.right-block{
	margin: 50px 100px 0 484px;
	font-family: "Arial";
}

.button {
    background-color: #E6E6E6;
    border: 1px black solid;
    color: black;
    width: 240px;
	height: 55px;
	margin: 10px auto;
	padding-top: 5px;
	font-family: "Arial";
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
	border-radius: 8px;
}

.article{
	
}

.paragraph{
	float: right	;
	//margin-right: 50px;
}

.paragraph-image{
	float: right;
	margin-right: 50px;
	margin-left: 50px;
}

a{
	text-decoration: none;
}
