body{
	margin: 0 5% 0 5%;
}

.imagecontainer{
	padding: 10px;
}

.login-box{
	font-family: "Arial";
	padding: 0 10px 10px 10px;
	width: 300px;
}

.field{
	float:right;	
}

.input-field{
	margin-bottom: 10px;
	font-size: 18px;
}

input[type="text"]{
	height: 18px;
	width: 180px;
}

input[type="password"]{
	height: 18px;
	width: 180px;
}


.select-university{
	height: 23px;
	width: 184px;
	float:right;
	color:gray;
}

#add-file-div{
	margin-top:50px;
}

#img-upload{
	width:184px;
}

#add-file{
	float:right;
}

#add-file-text{
	margin: 10px 0 5px 0;
	font-size: 12pt;
}