﻿@using Crewd.Persistence
@model Crewd.Persistence.CourseViewModel

@{
    ViewData["Title"] = "Add Course";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}
<div class="container">

    <h1 class="text-center" style="margin-bottom:50px">Add Course</h1>

    @using (Html.BeginForm("Add", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="col-4">

                <h3>Edit Course Details:</h3>

                <div class="form-group">
                    <label>Course Name:</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                <div class="form-group">
                    <label>Team Size:</label>
                    @Html.TextBoxFor(model => model.TeamSize, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TeamSize)
                </div>

                <div class="form-group">
                    <label>Course Details:</label>
                    @Html.TextAreaFor(model => model.CourseDetails, new { @class = "form-control", @rows = "6" })
                    @Html.ValidationMessageFor(m => m.CourseDetails)
                </div>

                <input type="submit" class="btn btn-primary" value="Submit course" />
            </div>

            <div class="col-8">

                <div class="row">
                    <div class="col">
                        <h3>Add/Edit Questions:</h3>
                    </div>
                    <div class="col">
                        <!--<a class="float-right" href="#" onclick="addTableRow();">Add Question</a>-->
                        <input type="button" id="addq" name="addq" value="Add Question" class="float-right btn btn-secondary" />
                    </div>
                </div>

                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th>Input type</th>
                            <th>Question</th>
                            <th>Answers</th>
                            <th>Weigth (%)</th>
                        </tr>
                    </thead>

                    <tbody id="table">

                        @foreach (SkillViewModel Skill in Model.Skills)
                        {                        
                            @Html.Partial("AddSkill", Skill)
                        }

                    </tbody>
                </table>

            </div>
        </div>
    }


</div>

@section Scripts
{
<script type="text/javascript">
    $('#addq').on('click', function () {
        $.ajax({
            type: "GET",
            async: true,
            url: "/Courses/AddQuestion",
            success: function (partialView) {
                console.log(partialView);
                $('#table').append(partialView);
            }
        });
    });

</script>
}