﻿@using HtmlHelpers.BeginCollectionItemCore
@model Crewd.Persistence.SkillViewModel

@{
    ViewData["Title"] = "Add Skill";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}
<tr>
    @using (Html.BeginCollectionItem("Skills"))
    {

        <td class="form-group">
            @Html.DropDownListFor(model => model.Type,
               new SelectList(Enum.GetValues(typeof(Crewd.Persistence.SkillType))),
               new { @class = "form-control" })
        </td>
        <td class="form-group">
            @Html.TextAreaFor(m => m.Name, new { @class = "form-control", @rows = "5" })
            @Html.ValidationMessageFor(m => m.Name)
        </td>
        <td valign="bottom">                             

          @for (int j = 0; j < Model.Values.Count; ++j)
            {
                <label>Answer @(j + 1)</label>

                @Html.TextBoxFor(m => m.Values[j],
                  new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Values[j])
            }

        </td>
        <td>
            @Html.TextBoxFor(m => m.Weigth,
              new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.Weigth)
        </td>

    }
</tr>
