﻿@using Crewd.Persistence
@model DetailsViewModel

@{
    ViewData["Title"] = "Crewd";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}

<h2>Details</h2>

<p>@Model.Details</p>

<p>Number of registered students: @Model.NrOfStudents</p>
<p>Course teacher: @Model.Teacher</p>