﻿@using Crewd.Persistence
@model IEnumerable<Course>

@{
    ViewData["Title"] = "ListCourses";
    ViewData["IsTeacher"] = ViewBag.IsTeacher;
    ViewData["IsUniversity"] = ViewBag.IsUniversity;
}
<link href="~/css/listcourses.css" rel="stylesheet" />

<div class="container">
    <h2>Courses:</h2>

    @foreach (Course item in Model)
     {

        <div class="row course_div">

            <div class="col mr-3">
                <h3 class="text-center">@item.Name</h3>
            </div>

            <div class="col mr-3">
                @Html.ActionLink("Details", "Details", "Courses",
                new { CourseId = item.Id }, new { @class = "btn btn-primary" })
            </div>

            @if ((Boolean)(ViewBag.IsTeacher))
            {
                <div class="col mr-3">
                    @Html.ActionLink("Close", "Close", "Courses",
                    new { CourseId = item.Id }, new { @class = "btn btn-primary" })
                </div>
            }

            <div class="col mr-3">
                @Html.ActionLink("Teams", "ListSlots", "Teams",
                new { CourseId = item.Id }, new { @class = "btn btn-primary" })
            </div>

            <div class="col mr-3">
                @Html.ActionLink("Join", "Join", "CourseApplications",
                new { CourseId = item.Id }, new { @class = "btn btn-success" })
            </div>

            @if ((Boolean)(ViewBag.IsTeacher))
            {
                <div class="col mr-3">
                    @Html.ActionLink("Remove", "Remove", "Courses",
                    new { CourseId = item.Id }, new { @class = "btn btn-danger" })
                </div>
            }

        </div>
     }

    <p>@TempData["ErrorMess"]</p>
    <p>@TempData["SuccMess"]</p>

</div>
